.select2-container .select2-selection--single {
    height: 40px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #101112 !important;
    background-color: #baddea !important;
}

.img-style {
    width: 150px;
    height: auto;
    object-fit: cover;
    margin: 10px;
}